html {
  height: 100%;
  width: 100%;
  background-color: #000000;
}
head {
  display: none;
  height: 100%;
  width: 100%;
  background-color: #000000;
  color: #b611a8;
  font-family: monospace;
  font-size: 100%;
  text-align: left;
  text-decoration: none;
}
body {
  height: 100%;
  width: 100%;
  background-color: #000000;
  color: #b611a8;
  font-family: monospace;
  font-size: 100%;
  text-align: left;
  text-decoration: none
}
button {
  background-color: #00ff4c;
  color: #00ff4c;
  font-family: monospace;
  font-size: 100%;
  text-align: left;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
button2 {
  background-color: #000000;
  color: #000000;
  font-family: monospace;
  font-size: 100%;
  text-align: left;
  text-decoration: none;
  border: none;
  cursor: default;
}
a {
  color: #ff9500;
  text-decoration: none;
  font-family: monospace;
  font-size: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
  justify-self: center;
  align-self: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}